{% extends 'base.html' %}
{% load static %}

{% block title %}Web Profile{% endblock %}

{% block content %}
  <section class="content-header">
    <div class="container">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Halaman Web Profile</h1>
        </div>
      </div>
    </div></section>

  <section class="content">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Selamat Datang di Web Profile</h3>
            </div>
            <div class="card-body">
              <p>Ini adalah halaman web profile.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}