{% load static %}
<nav class="main-header navbar navbar-expand-md navbar-light navbar-white shadow">
    <div class="container">
        <a href="{% url 'home' %}" class="navbar-brand">
            <img src="{% static 'adminlte/img/logo-bekasikab.png' %}" alt="Logo Bekasi" class="brand-image">
            <img src="{% static 'adminlte/img/logo-diskominfosantik.png' %}" alt="Logo Diskominfosantik" class="brand-image">
        </a>

        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            <ul class="navbar-nav">
                </ul>
        </div>
        
        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link">Galeri</a>
            </li>
            <li class="nav-item dropdown">
                <a id="profileDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Profile</a>
                <ul aria-labelledby="profileDropdown" class="dropdown-menu border-0 shadow">
                    <li><a href="{% url 'profile_pejabat' %}" class="dropdown-item">Profile Pejabat</a></li>
                    <li><a href="{% url 'tugas_pokok_fungsi' %}" class="dropdown-item">Tugas Pokok dan Fungsi</a></li>
                    <li><a href="{% url 'struktur_organisasi' %}" class="dropdown-item">Struktur Organisasi</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>